*,
:before,
:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:where(ul, ol):where([class]) {
	padding-left: 0
}

body,
:where(blockquote, figure):where([class]) {
	margin: 0
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
	margin-block: 0
}

:where(dd[class]) {
	margin-left: 0
}

:where(fieldset[class]) {
	margin-left: 0;
	padding: 0;
	border: none
}

:where(ul[class]) {
	list-style: none
}

:where(address[class]) {
	font-style: normal
}

img,
video {
	display: block;
	height: auto
}

input,
textarea,
select,
button {
	font: inherit
}

ul li,
ol li {
	list-style: none;
}

html {
	height: 100%;
	scrollbar-gutter: stable
}

html,
:has(:target) {
	scroll-behavior: smooth
}

body {
	min-height: 100%;
	letter-spacing: -0.01em;
}

a:where([class]) {
	display: inline-flex
}

button,
label {
	cursor: pointer
}

svg * {
	transition-property: fill, stroke
}

:where(table) {
	border-collapse: collapse;
	border-color: currentColor
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
	background: var(--color-white);
	font-family: 'Manrope';
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
}

.overlay {
	background: rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1001;
	display: none;
}

.overlay.active,
.overlay.modal-active {
	display: block;
}

body.fixed,
body.modal-fixed {
	overflow: hidden;
}

:root {
	--color-white: #FFFFFF;
    --color-black: #000000;
	
    --color-grey: #686868;
	--color-accent: #42B6D5;
	--color-accent-light: #5CC9E6;
	--color-accent-dark: #157B97;
}

::placeholder {
  color: var(--color-accent-dark);
}

::-webkit-input-placeholder {
  color: var(--color-accent-dark);
}

::-moz-placeholder {
  color: var(--color-accent-dark);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--color-accent-dark);
}

a {
	text-decoration: none;
}

a,
a:before,
div,
button,
label,
input,
textarea,
select,
svg * {
	transition: all 0.3s ease-in-out;
}

input:focus {
	outline: none;
}

input,
button[type="submit"] {
	height: 40px;
}

@media(max-width: 576px) {
	input,
	button[type="submit"] {
		height: 35px;
	}
}

h1 {
	font-weight: 700;
	font-size: 30px;
	line-height: 45px;
}

a {
	color: var(--color-black);
}

a:hover {
	color: var(--color-accent-dark);
}

.btn {
	background: linear-gradient(90deg, var(--color-accent-light) 0%, var(--color-accent) 100%);
	padding: 10px 17px;
	border-radius: 10px;
	color: var(--color-white);
	text-transform: uppercase;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	font-weight: 700;
	border: 0;
}

.btn:hover {
	background: linear-gradient(90deg, var(--color-accent) 0%, var(--color-accent-light) 100%);
	color: var(--color-white);
}

.container {
	max-width: 1280px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	width: 100%;
}

.section {
	padding-top: 25px;
	padding-bottom: 25px;
}

.section__title {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 60px;
}

@media(max-width: 576px) {
	.section__title {
		font-size: 16px;
		line-height: 19px;
		margin-bottom: 25px;
	}
}

/* HEADER */

.header {
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: space-between;
	padding-top: 50px;
	padding-bottom: 45px;
	position: relative;
}

.header__logo {
	display: flex;
	gap: 3px;
	flex-direction: column;
}

.header__logo p {
	margin: 0;
	padding: 0;
	font-size: 12px;
	white-space: nowrap;
	text-align: center;
}

.header__address {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
}

.header__address strong,
.header__address b {
	font-weight: 700;
}

.search {
	position: relative;
}

.search input[type="search"] {
	box-shadow: 0 0 10px 0 #5CC9E6CC;
	border: 1px solid var(--color-white);
	border-radius: 10px;
	width: 267px;
	padding-right: 45px;
	padding-left: 15px;
	color: var(--color-accent-dark);
}

.search button[type="submit"] {
	border: 0;
	background: transparent;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 10px;
}

.header__contacts {
	display: flex;
	gap: 20px;
}

.header__phone {
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
}

.header__phone span {
	font-weight: 700;
	font-size: 26px;
	line-height: 36px;
}

.header__social {
	display: flex;
	gap: 15px;
	align-items: center;
}

@media(max-width: 1199px) {
	.header {
		flex-wrap: wrap;
	}
}

@media(max-width: 767px) {
	.header {
		flex-wrap: wrap;
		gap: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.header__search {
		display: none;
	}
}

@media(max-width: 576px) {
	.header {
		justify-content: flex-start;
	}
}

@media(max-width: 480px) {
	.header {
		row-gap: 10px;
        column-gap: 40px;
	}
	
	.header__address {
		width: 100%;
		text-align: center;
	}

	.header__contacts {
		width: 100%;
		justify-content: center;
	}

	.header__phone {
		font-size: 12px;
		line-height: 16px;
	}

	.header__phone span {
		font-size: 18px;
	}

	.header__logo {
		width: 100%;
		align-items: center;
		justify-content: center;
	}

	.header__logo img {
		max-width: 140px;
		height: auto;
	}

	.header__logo p {
		font-size: 9px;
		line-height: 12px;
	}

	.header__address {
		font-size: 12px;
		line-height: 16px;
	}
	
	.header__address br {
		display: none;
	}
	
	.header__buttons {
		width: 100%;
		justify-content: center;
        display: flex;
	}

	.header__buttons a.btn {
		padding: 7px 17px;
		font-size: 12px;
		margin: 0 auto;
	}
}

/* NAV */

nav.menu {
	background: #ecfaff;
	padding: 29px 0 26px;
	box-shadow: inset 0 10px 19px #C1E7F2;
}

nav.menu ul {
	display: flex;
	justify-content: space-between;
}

nav.menu ul li {
	flex-grow: 1;
	font-size: 18px;
	line-height: 25px;
}

nav.menu ul li a {
	color: var(--color-black);
}

nav.menu ul li a:hover {
	color: var(--color-accent-dark);
}

@media(max-width: 767px) {
	nav.menu {
		display: none;
	}
}

/* HERO */

.hero {
	background: url('../images/hero__bg.png') no-repeat center center;
	background-size: cover;
	color: var(--color-white);
	min-height: 400px;
	display: flex;
	align-items: center;
	margin-bottom: 25px;
	padding: 25px 0;
}

.hero__content {
	display: flex;
	align-items: center;
	gap: 50px;
	justify-content: space-between ;
}

.hero__content h1,
.hero__content .h1 {
	font-weight: 700;
	font-size: 50px;
	line-height: 60px;
	text-transform: uppercase;
}

.hero__content h1 span,
.hero__content .h1 span {
	font-weight: 700;
	font-size: 40px;
	line-height: 52px;
}

.hero__form {
	background: rgba(70, 185, 216, 0.9);
	padding: 24px 27px;
	max-width: 581px;
	width: 100%;
	border-radius: 10px;
}

.hero__form-title {
	font-weight: 700;
	font-size: 22px;
	line-height: 33px;
	margin-bottom: 26px;
}

@media(max-width: 991px) {
	.hero__content {
		flex-direction: column;
	}
}

@media(max-width: 767px) {
	.hero__content h1,
	.hero__content h1 span,
	.hero__content .h1,
	.hero__content .h1 span {
		font-size: 30px;
		line-height: 36px;
		text-align: center;
	}

	.section h1 {
		font-size: 22px;
		line-height: 26px;
		text-align: center;
	}

	.hero__form-title {
		font-size: 14px;
		line-height: 18px;
		text-align: center;
		margin-bottom: 10px;
	}

	.hero__content {
		flex-direction: column;
		gap: 25px;
	}

	.hero__form {
		padding: 13px 17px;
	}
}

@media(max-width: 576px) {
	.hero__content h1,
	.hero__content h1 span,
	.hero__content .h1,
	.hero__content .h1 span {
		font-size: 24px;
		line-height: 36px;
	}
}

.price {
	font-weight: 700;
	font-size: 30px;
	line-height: 39px;
}

.old-price {
	font-size: 22px;
	line-height: 29px;
	text-decoration: line-through;
}

/* CATEGORY */

.category__blocks {
	display: flex;
	gap: 20px;
	margin-bottom: 40px;
}

.category__blocks a.category__item {
	width: calc(1/3*100% - (1 - 1/3)*20px);
	border-radius: 10px;
	display: flex;
	align-items: flex-end;
	font-weight: bold;
	font-size: 20px;
	color: var(--color-white);
	text-decoration: none;
	height: 250px;
	position: relative;
}

.category__blocks.row-4 a.category__item {
	width: calc(1/4*100% - (1 - 1/4)*20px);
}

.category__blocks a.category__item:before {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	opacity: 0;
	content: '';
	position: absolute;
	border-radius: 10px;
}

.category__blocks a.category__item:hover:before {
	opacity: .3;
}

.category__item-title {
	position: relative;
	z-index: 1;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
	padding: 36px 35px 20px;
	width: 100%;
	display: block;
	border-radius: 0 0 10px 10px;
}

.category__list ul {
	display: flex;
	gap: 20px;
	justify-content: center;
	flex-wrap: wrap;
}

.category__list ul li a {
	display: flex;
	font-size: 16px;
	line-height: 22px;
	padding: 9px 15px;
	color: var(--color-accent-dark);
	border: 1px solid var(--color-accent-dark);
	border-radius: 10px;
	text-transform: lowercase;
}

.category__list ul li a:hover {
	color: var(--color-white);
	background: var(--color-accent-dark);
}

.category__list li {
	cursor: pointer;
}

@media(max-width: 576px) {
	.category__blocks {
		gap: 5px;
	}

	.category__blocks a.category__item {
		width: calc(1/3*100% - (1 - 1/3)*5px);
	}
	
	.category__blocks.row-4 a.category__item {
		width: calc(1/2*100% - (1 - 1/2)*20px);
	}

	.category__list ul {
		gap: 15px;
	}

	.category__blocks a.category__item {
		height: 200px;
	}

	.category__item-title {
		padding: 36px 10px 13px;
		font-size: 14px;
		line-height: 17px;
	}
	.category__list ul li a {
		font-size: 14px;
		padding: 7px 12px;
	}

	.category__blocks {
		flex-wrap: wrap;
	}
}

@media(max-width: 480px) {
	.category__blocks {
		flex-wrap: wrap;
	}

	.category__blocks a.category__item {
		width: 100%;
	}
}

/* TABS */

.tab-content {
	display: none;
}

.tab-content.active {
	display: block;
}

/* POPULAR */

.tabs-list {
	margin-bottom: 50px;
}

.tabs-list ul {
	display: flex;
	align-items: center;
	justify-content: center;
}

.tabs-list ul li {
	padding: 0 30px;
	border-right: 2px solid #46B9D8;
	text-decoration: underline;
	cursor: pointer;
	font-size: 18px;
}

.tabs-list ul li:hover {
	color: #46B9D8;
}

.tabs-list ul li.active {
	font-weight: 700;
	text-decoration: none;
	cursor: default;
}

.tabs-list ul li.active:hover {
	color: inherit;
}

.tabs-list ul li:last-child {
	border-right: 0;
}

.catalog__list {
	display: flex;
	gap: 20px;
	margin-bottom: 40px;
}

.catalog__item {
	width: calc(1/4*100% - (1 - 1/4)*20px);
	box-shadow: 0 0 10px 0px rgba(92, 201, 230, 0.8);
	border-radius: 10px;
	padding: 20px 0 25px;
	display: flex;
	flex-direction: column;
}

.catalog__item-img img {
	max-width: 100%;
	height: auto;
}

.catalog__item-img a {
	display: flex;
	justify-content: center;
}

.catalog__item:hover {
	box-shadow: 0 0 10px 0 var(--color-accent-dark);
}

.catalog__item-title {
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 20px;
}

.catalog__item-description {
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	margin-bottom: 20px;
}

.catalog__bottom {
	margin-top: auto;
	padding: 0 24px;
}

.catalog__item-price {
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 20px;
}

.catalog__item-price span {
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
}

.catalog__content {
	padding: 20px 24px 0;
}

.catalog__item-button .btn {
	width: 100%;
}

.catalog__more {
	display: flex;
	justify-content: center;
}
@media(max-width: 767px) {
	.catalog__list {
		flex-wrap: wrap;
	}
	
	.catalog__item {
		width: calc(1/3*100% - (1 - 1/3)*20px);
	}
}

@media(max-width: 576px) {
	.tabs-list ul li {
		font-size: 16px;
		padding: 0 15px;
	}

	.catalog__item {
		width: calc(1/2*100% - (1 - 1/2)*20px);
		padding: 10px 0 15px;
	}

	.catalog__item-title {
		font-size: 14px;
		line-height: 19px;
		margin-bottom: 12px;
	}

	.catalog__item-description {
		font-size: 12px;
		line-height: 16px;
	}

	.catalog__item-price {
		font-size: 14px;
		line-height: 19px;
		margin-bottom: 13px;
	}

	.catalog__item-price span {
		font-size: 18px;
	}
}

@media(max-width: 360px) {
	.catalog__item {
		width: 100%;
	}

	.tabs-list ul li {
		padding: 0 10px;
	}
}

/* ADVANTAGES */

.advantages {
	max-width: 1064px;
}

.advantages h2 {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	margin-bottom: 40px;
}

.advantages p {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 30px;
}

.advantages p:last-child {
	margin-bottom: 0;
}

.advantages__list {
	display: flex;
	gap: 25px;
	flex-direction: column;
	margin-bottom: 30px;
}

.advantages__item {
	display: flex;
	gap: 42px;
	font-size: 16px;
	line-height: 24px;
}

.advantages__content-title {
	font-weight: 700;
	margin-bottom: 10px;
}

@media(max-width: 576px) {
	.advantages h2 {
		font-size: 16px;
		line-height: 19px;
	}

	.advantages__item {
		gap: 20px;
	}

	.advantages p,
	.advantages__item {
		font-size: 12px;
		line-height: 18px;
	}
}

/* HOW WE WORK */

.how-we-work {
	max-width: 1008px;
}

.how-we-work__list {
	display: flex;
    gap: 20px;
    justify-content: space-between;
}

.how-we-work__item {
	display: flex;
	flex-direction: column;
	gap: 40px;
	text-align: center;
	font-size: 18px;
	line-height: 25px;
	flex-basis: 0;
}

.how-we-work__item .how-we-work__item-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 10px 0 #5CC9E6CC;
	border-radius: 50%;
	width: 140px;
	aspect-ratio: 1;
	margin: 0 auto;
}


.how-we-work__item .how-we-work__item-icon img {
	max-width: 100%;
	height: auto;
}

@media(max-width: 991px) {
	.how-we-work__list {
		flex-wrap: wrap;
		justify-content: center;
	}

	.how-we-work__item {
		width: calc(1/3*100% - (1 - 1/3)*77px);
	}
}

@media(max-width: 576px) {
	.how-we-work__list {
		column-gap: 50px;
		row-gap: 30px;
		align-items: flex-start;
		justify-content: center;
	}

	.how-we-work__item {
		font-size: 14px;
		line-height: 19px;
		gap: 12px;
	}

	.how-we-work__item .how-we-work__item-icon {
		width: 80px;
		padding: 20px;
		margin: 0 auto;
		display: block;
	}

	.how-we-work__item {
		width: calc(1/2*100% - (1 - 1/2)*50px);
	}
}

@media(max-width: 480px) {
	.how-we-work__list {
		flex-wrap: wrap;
		gap: 20px;
	}
	.how-we-work__item {
		width: calc(1/2*100% - (1 - 1/2)*20px);
	}
}

/* PROJECTS */

.projects__item-img {
	position: relative;
}

.projects__item-img img {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.projects__item-img:before {
	content: url('data:image/svg+xml,<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="13" cy="13" r="12" stroke="white" stroke-width="2"/><rect x="11.3636" y="7" width="3.27273" height="12" fill="white"/><rect x="7" y="14.6364" width="3.27273" height="12" transform="rotate(-90 7 14.6364)" fill="white"/></svg>');
	position: absolute;
	bottom: 10px;
	right: 10px;
	transform: scale(1);
	transition: all 0.3s ease-in-out;
}

.projects__item:hover .projects__item-img:before {
	transform: scale(1.2);
}

.projects__item-title {
	padding: 20px 25px 0;
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
}

.projects-slider {
	position: relative;
}

.slider__prev,
.slider__next {
	z-index: 9;
	cursor: pointer;
}

.slider__prev.swiper-button-lock,
.slider__next.swiper-button-lock {
	display: none;
}

.slider__prev {
	padding-left: 10px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.slider__next {
	padding-right: 10px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.slider__pagination {
	display: flex;
	gap: 25px;
	width: auto !important;
}

.swiper-pagination-bullet {
	border-radius: 4px;
	width: 10px;
	height: 10px;
	background: #dedede;
	margin: 0;
	padding: 0;
	opacity: 1;
}

.swiper-pagination-lock {
	display: none;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: #46B9D8;
}

@media(max-width: 576px) {
	.projects__item-title {
		text-align: center;
	}
}

/* REVIEWS */

.reviews__list {
	padding: 5px;
}

.reviews__list .item {
	padding: 0 10px;
}

.reviews__list:not(.swiper-wrapper) {
	display: flex;
	row-gap: 20px;
	column-gap: 20px;
	flex-wrap: wrap;
}


.reviews__list:not(.swiper-wrapper) .item {
	width: calc(1/2*100% - (1 - 1/2)*20px);
	padding: 0;
}

.reviews__item {
	box-shadow: 0 0 10px 0 #5CC9E6CC;
	border-radius: 10px;
	padding: 30px;
	display: flex;
	gap: 50px;
}

.reviews__content-rating {
	margin-bottom: 24px;
}

.reviews__content-rating ul {
	display: flex;
	gap: 10px;
}

.reviews__content-author {
	font-weight: 700;
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 15px;
}

.reviews__content-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
}

.slider-nav {
	display: flex;
	gap: 25px;
	justify-content: center;
	align-items: center;
	margin-top: 25px;
}

.reviews__more {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

@media(max-width: 767px) {
	.reviews__list:not(.swiper-wrapper) .item {
		width: 100%;
	}
}

@media(max-width: 576px) {
	.reviews__content-title {
		font-size: 14px;
		line-height: 19px;
	}

	.reviews__content-text {
		font-size: 12px;
		line-height: 16px;
	}
}

@media(max-width: 480px) {
	.reviews__item {
		padding: 20px 16px;
		flex-direction: column;
		gap: 30px;
	}

	.reviews__icon img {
		width: 100px;
		height: auto;
	}
}

/* FORM */

.form {
	position: relative;
	margin: 50px auto;
}

.form .form__img {
	position: absolute;
	top: 0;
	left: 0;
}

.form .form__wrapper {
	margin-left: 70px;
	background: linear-gradient(90deg, var(--color-accent-light) 0%, var(--color-accent) 100%);
	border-radius: 10px;
	padding-left: 290px;
	display: flex;
	min-height: 250px;
	align-items: center;
	gap: 64px;
}

.form__content {
	display: flex;
}

.form__title {
	font-weight: 700;
	font-size: 30px;
	line-height: 39px;
	color: var(--color-white);
	max-width: 270px;
}

.form__content form {
	display: flex;
	gap: 20px;
	align-items: center;
	flex-wrap: wrap;
}

.form__content-col {
	gap: 15px;
	display: flex;
	flex-direction: column;
}

.form label {
	color: var(--color-white);
}

.form__content input[type="text"],
.form__content input[type="tel"],
.form__content input[type="email"] {
	border-radius: 10px;
	background: var(--color-white);
	border: 1px solid var(--color-white);
	color: var(--color-accent-dark);
	padding: 0 12px;
	width: 290px;
}

.form__content input[type="text"].error,
.form__content input[type="tel"].error,
.form__content input[type="email"].error {
	border: 1px solid red;
}

.form__content input[type="text"]:focus,
.form__content input[type="tel"]:focus,
.form__content input[type="email"]:focus {
	outline: none;
	border: 1px solid var(--color-accent-dark);
}

.form__content button[type="submit"] {
	background: linear-gradient(90deg, var(--color-accent-light) 0%, var(--color-accent)100%);
	font-weight: 700;
	font-size: 14px;
	line-height: 19px;
	text-align: center;
	text-transform: uppercase;
	width: 213px;
	border-radius: 10px;
	border: 1px solid var(--color-white);
	color: var(--color-white);
}

.form__content button[type="submit"]:hover {
	background: linear-gradient(90deg, var(--color-accent) 0%, var(--color-accent-light)100%);
}

.form__content button[type="submit"]:active {
	background: linear-gradient(90deg, var(--color-accent) 0%, var(--color-accent-dark)100%);
}

.form-field input[type="checkbox"] {
    display: none;
}

.form-field input[type="checkbox"] + label {
    position: relative;
    padding-left: 30px;
}

.form-field input[type="checkbox"] + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background: var(--color-white);
	border-radius: 7px;
}

.form-field input[type="checkbox"]:checked + label:after, 
.form-field input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.form-field input[type="checkbox"]:checked + label:after {
	left: 4px;
    top: 5px;
    width: 13px;
    height: 8px;
    border-radius: 1px;
    border-left: 4px solid var(--color-accent-dark);
    border-bottom: 4px solid var(--color-accent-dark);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.form-field.full-width {
	width: 100%;
}

@media(max-width: 1199px) {
	.form .form__wrapper {
		border-radius: 10px;
		padding-left: 260px;
		padding-right: 30px;
	}

	.form__content form {
		flex-direction: column;
		width: 100%;
	}
}

@media(max-width: 991px) {
	.form__content form {
		flex-direction: column;
	}

	.form .form__img {
		top: 0;
        left: 50%;
        transform: translateX(-50%);
	}

	.form .form__wrapper {
		padding: 170px 40px 20px;
        flex-direction: column;
        margin-left: 0;
        margin-top: 140px;
	}
	
	.form__title {
		max-width: 100%;
	}
}

@media(max-width: 767px) {
	.form .form__img img {
		max-width: 145px;
		height: auto;
	}

	.form .form__wrapper {
		padding: 100px 40px 20px;
        flex-direction: column;
        margin-left: 0;
        margin-top: 40px;
	}

	.form__title {
		text-align: center;
	}

	.form__content-col {
		width: 100%;
		align-items: center;
	}
}

@media(max-width: 576px) {
	.form__title {
		font-size: 14px;
		line-height: 18px;
	}

	.form .form__wrapper {
		gap: 20px;
	}

	.form__content input[type="text"],
	.form__content input[type="tel"],
	.form__content input[type="email"] {
		width: 200px;
	}
	
	.form-field input[type="checkbox"] + label {
		font-size: 12px;
		line-height: 16px;
	}
}

/* FOOTER */

.footer {
	background-color: var(--color-grey);
	color: var(--color-white);
	padding: 47px;
}

.footer__title {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
}

.footer__content {
	display: flex;
	gap: 20px;
	justify-content: space-between;
}

.footer__content a {
	color: var(--color-white);
	text-decoration: underline;
}

.footer__content a:hover {
	color: var(--color-white);
	text-decoration: none;
}

.footer__col {
	display: flex;
	gap: 20px;
	flex-direction: column;
}

.footer__copyright {
	font-weight: bold;
}

.footer__info {
	display: flex;
	gap: 10px;
}

.footer__content ul.menu {
	font-weight: bold;
	display: flex;
	gap: 11px;
	flex-direction: column;
}

.footer__col.menu-contacts {
	text-align: right;
}

.footer__contact-text {
	font-size: 20px;
}

.footer__contact .footer__contact-title {
	margin-bottom: 7px;
}

.footer__contact-text p:not(:last-child) {
	margin-bottom: 10px;
}

.footer__develop {
	display: flex;
	gap: 5px;
	align-items: baseline;
}

.footer__develop img {
	height: 18px;
	width: auto;
}

@media(max-width: 767px) {
	.footer__content {
		flex-wrap: wrap;
		gap: 25px;
	}

	.footer__col {
		width: calc(1/2*100% - (1 - 1/2)*25px);
	}

	.menu-catalog {
		order: 1;
	}
	
	.menu-clients {
		order: 2;
	}
	
	.menu-contacts {
		order: 3;
	}
	
	.menu-info {
		order: 4;
	}

	.footer__info {
		flex-wrap: wrap;
	}

	.footer__col.menu-contacts {
		text-align: left;
	}
}

@media(max-width: 576px) {
	.footer__contact-text {
		font-size: 16px;
	}
}

@media(max-width: 480px) {
	.footer__col {
		width: 100%;
	}

	.footer {
		padding: 20px 10px;
	}
}

/* MOBILE */

.mobile-menu {
	position: fixed;
	top: 0;
	background: var(--color-white);
	padding: 33px 56px;
	left: -9999px;
	z-index: 9999;
}

.mobile-menu.active {
	top: 0;
	left: 0;
	bottom: 0;
}

.mobile-menu .close {
	position: absolute;
	top: 40px;
	right: 20px;
	cursor: pointer;
}

.mobile-menu .mobile__search {
	margin-bottom: 30px;
}

.mobile-menu .mobile__menu ul {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.mobile-menu .mobile__menu ul li a {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: var(--color-black);
}

.header_burger {
	width: 31px;
    height: 22px;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
	display: none;
	align-items: center;
	justify-content: center;
}

.header_burger label {
	cursor: pointer;
	display: block;
	position: relative;
	height: 22px;
    width: 31px;
}

.burger-checkbox {
	position: absolute;
	visibility: hidden;
}

.burger::before,
.burger::after {
	content: '';
	left: 0;
	position: absolute;
	display: block;
	width: 31px;
    height: 4px;
	border-radius: 10px;
	background: var(--color-accent-light);
}

.burger::before {
	top: 0;
	box-shadow: 0 9px 0 var(--color-accent-light);
	transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}

.burger::after {
	bottom: 0;
	transition: bottom .3s .15s, transform .3s;
}

.burger-checkbox:checked+.burger::before {
	top: 9px;
	transform: rotate(45deg);
	box-shadow: 0 9px 0 var(--color-accent-light);
	transition: box-shadow .15s, top .3s, transform .3s .15s;
}

.burger-checkbox:checked+.burger::after {
	bottom: 9px;
	transform: rotate(-45deg);
	transition: bottom .3s, transform .3s .15s;
}

@media(max-width: 576px) {
	.header_burger {
		display: block;
	}
}

@media(max-width: 480px) {
	.header_burger {
		position: absolute;
		top: 30px;
		left: 20px;
	}
}

/* breadcrumbs */

.breadcrumbs.section {
	padding-top: 35px;
    padding-bottom: 10px;
}

.breadcrumbs {
	font-size: 14px;
	line-height: 19px;
	display: flex;
	gap: 20px;
}

.breadcrumbs .breadcrumbs__item {
	display: flex;
}

.breadcrumbs .breadcrumbs__item a {
	text-decoration: underline;
}

.breadcrumbs .breadcrumbs__item a:hover {
	text-decoration: none;
}

.breadcrumbs .breadcrumbs__item:not(:first-child) a:before,
.breadcrumbs .breadcrumbs__item.active:before {
	content: url('data:image/svg+xml,<svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.00925 5.03085L0.06137 8.99941L1.05675 10L6 5.03085L5.93947 4.96915L0.995377 5.16156e-07L-1.66921e-07 1.00059L4.00925 5.03085Z" fill="%2346B9D8"/></svg>');
	margin-right: 20px;
}

.breadcrumbs .breadcrumbs__item.active {
	color: var(--accent-red);
}

@media(max-width: 576px) {
	.breadcrumbs {
		font-size: 16px;
		line-height: 20px;
		flex-wrap: wrap;
	}
}

/* SEO-TEXT */

.seo-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.seo-text p {
    margin-bottom: 24px;
}

.seo-text p:last-child {
    margin-bottom: 0;
}

.seo-text ul {
    margin-left: 10px;
	margin-bottom: 24px;
}

.seo-text ul li {
	position: relative;
	padding-left: 14px;
	margin-bottom: 10px;
}

.seo-text ul li:last-child {
	margin-bottom: 0;
}

.seo-text ul li:before{
	position: absolute;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: var(--color-black);
	content: '';
	top: 11px;
	left: 0;
}

@media(max-width: 576px) {
	.seo-text {
		font-size: 12px;
		line-height: 18px;
	}
}

/* PRODUCTS-SLIDER */

.products-slider {
	padding: 0 5px;
}

.products-slider .slider-nav {
	margin-top: 50px;
}

.products-slider .swiper-wrapper {
	padding: 5px 0;
}

.products-slider .swiper-slide {
    height: auto;
}

main {
	padding-bottom: 70px;
}

/* DETAIL */

.detail__bottom .detail__bottom-title {
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	margin-bottom: 35px;
}

.detail__top {
	display: flex;
	gap: 20px;
	margin-bottom: 35px;
}

.detail__slider {
	width: 100%;
	max-width: 630px;
}

.detail__bottom {
	margin-bottom: 70px;
}

.detail__info {
	background: #F5F5F5;
	border-radius: 10px;
	padding: 50px;
	display: flex;
	flex-direction: column;
	font-size: 18px;
	line-height: 36px;
	width: 100%;
	max-width: 630px;
}

.detail__info-price {
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	margin-top: 50px;
}

.detail__info-price span {
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
}

.detail__info-button {
	margin-top: 50px;
}

.detail__info-button .btn {
	width: 256px;
	height: 40px;
}

@media(max-width: 991px) {
	.detail__top {
		flex-direction: column;
	}

	.detail__slider,
	.detail__info {
		max-width: 100%;
	}
}

@media(max-width: 576px) {
	.detail__info {
		padding: 12px 37px 15px;
		font-size: 12px;
		line-height: 24px;
	}

	.detail__info-price {
		margin-top: 12px;
		font-size: 14px;
		line-height: 19px;
	}

	
	.detail__info-price span {
		font-size: 18px;
	}

	.detail__info-button {
		margin-top: 25px;
		display: flex;
		justify-content: center;
	}

	.detail__bottom {
		margin-bottom: 0;
	}
	
	.detail__bottom .detail__bottom-title {
		text-align: center;
		font-size: 16px;
        line-height: 19px;
	}
}

.splide__slide {
  opacity: 0.3;
}

.splide__slide.is-active {
  opacity: 1;
}

#main-slider {
	margin-bottom: 15px;
}

.splide {
	position: relative;
}

.splide img {
	border-radius: 10px;
	max-width: 100%;
	height: auto;
}

#thumbnail-slider.splide li {
	width: 146px;
	aspect-ratio: 1;
}

.splide__track--nav>.splide__list>.splide__slide {
	border: 1px solid var(--color-white);
	border-radius: 10px;
}

.splide__track--nav>.splide__list>.splide__slide.is-active {
	border: 1px solid var(--color-accent-dark);
}

.splide__slide {
	opacity: 0.8;
}

.splide__arrow {
	width: 80px;
    top: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    transform: none;
}

.splide__arrow:focus {
	outline: none;
	border-radius: 10px;
	background: inherit;
}

.splide__arrow--prev {
	left: 0;
	background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
	justify-content: flex-start;
    padding-left: 15px;
	border-radius: 10px 0 0 10px;
}

.splide__arrow--next {
	right: 0;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
	justify-content: flex-end;
    padding-right: 15px;
	border-radius: 0 10px 10px 0;
}

.splide__arrow svg {
	fill: var(--color-white);
}

.splide__list .splide__slide {
    display: flex;
    justify-content: center;
}

.reviews__send-button {
	margin-bottom: 25px;
}

.popup form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.popup .form-field {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.popup .form-field input[type="text"],
.popup .form-field input[type="tel"],
.popup .form-field textarea {
	border: 1px solid var(--color-accent);
	border-radius: 10px;
	height: 40px;
	padding: 10px 20px;
}

.popup .form-field textarea {
	height: 120px;
	resize: none;
}

.popup .form-field input[type="text"]:focus,
.popup .form-field input[type="tel"]:focus,
.popup .form-field textarea:focus {
	outline: none;
	border: 1px solid var(--color-accent-dark);
}

.popup .form-field input[type="checkbox"] + label::before {
	border: 1px solid var(--color-accent-dark);
}

.popup .form-field button {
	margin: 0 auto;
}

.popup .form-field a {
	text-decoration: underline;
}

.popup .form-field a:hover {
	text-decoration: none;
}

.category__list-item.show__more.active {
	order: 9;
}

.hidden-element.active {
	display: block !important;
}